@media print {
    li > ul::before,
    li > ol::before {
        content: "\200B";
        position: absolute;
        display: block;
        left: -15px;
        top: 1.8em;
        bottom: 0.1em;
        border-right: var(--indentation-guide-width) solid var(--indentation-guide-color);
    }
}